<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/style.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+3:ital@1&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <header>
        <nav class="navbar">
            <a href="#" target="_blank">Us</a>
            <a href="#" target="_blank">INFO</a>
            <a href="#" target="_blank">Explore</a>
            <a href="#" target="_blank">Contact</a>
        </nav>
    </header>
    <div class="hero-image">
    <div class="hero-text">
        <h1>Feel free to explore...</h1>
        <p>and do it safety.</p>
        <span class="buttons">
            <button>hola</button>
            <button>hola</button>
        </span>
    </div>
    </div>
</body>
</html>